@model E_Healthcare.Models.Appointment
<style>
    body {
        background-image: url('https://cdn.create.vista.com/api/media/small/369575390/stock-photo-top-view-stereoscope-blue-background-copy-space');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<h2>Create Appointment</h2>

<form asp-action="Create" method="post">
    <div class="form-group col-lg-5">
        <label>Name:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group col-lg-5">
        <label>Phone Number:</label>
        <input asp-for="PhoneNumber" type="number" class="form-control" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" pattern="[0-9]{10}" title="Please enter a 10-digit phone number" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group col-lg-5">
        <label>Personal Details:</label>
        <input asp-for="PersonalDetails" class="form-control" />
        <span asp-validation-for="PersonalDetails" class="text-danger"></span>
    </div>
    <div class="form-group col-lg-5">
        <label>Medical History:</label>
        <input asp-for="MedicalHistory" class="form-control" />
        <span asp-validation-for="MedicalHistory" class="text-danger"></span>
    </div>
    <div class="form-group col-lg-5">
        <label>Insurance Information:</label>
        <input asp-for="InsuranceInformation" class="form-control" />
        <span asp-validation-for="InsuranceInformation" class="text-danger"></span>
    </div>
    <div class="form-group col-lg-5">
        <label>Appointment Date:</label>
        <input type="date" asp-for="AppointmentDate" class="form-control" />
        <span asp-validation-for="AppointmentDate" class="text-danger"></span>
    </div>
    <div class="form-group col-lg-5">
        <label>Appointment Time:</label>
        <input type="time" asp-for="AppointmentTime" class="form-control" />
        <span asp-validation-for="AppointmentTime" class="text-danger"></span>
    </div>

    <div class="form-group col-lg-5">
        <label>Doctor:</label>
        <select asp-for="DoctorId" class="form-control">
            <option value="">-- Select Doctor --</option>
            @foreach (var doctor in ViewBag.Doctors)
            {
                <option value="@doctor.Id">@doctor.Name</option>
            }
        </select>
        <span asp-validation-for="DoctorId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    <script>
        var currentDate = new Date();
        var currentDateString = currentDate.toISOString().substring(0, 10);
        document.getElementById('AppointmentDate').min = currentDateString;
    </script>
}
